# local planning notes
local-docs/

# dependencies
node_modules/
.pnpm-store/

# next
.next/
out/

# production
dist/

# env
.env*
!.env.example

# vercel
.vercel/

# tests
coverage/

# caches
.turbo/
.cache/
*.tsbuildinfo

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
